.appStyled {
  min-height: 100vh;
  width: 100%;
  /* padding: 10rem 0.8rem; */
  padding-top: 1.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.tabs-con {
  display: grid;
  min-height: 10vh;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
}
.contactMe {
  min-height: 10vh;
  width: 100%;
}

@media (max-width: 786px) {
  .appStyled {
    padding: 1rem 0.8rem;
  }
  .tabs-con {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
}
