.personalStyled {
  display: grid;
  grid-template-columns: 30% 70%;
}
.skills-con {
  background: linear-gradient(
    117.76deg,
    rgba(255, 255, 255, 0.7) -7.21%,
    rgba(255, 255, 255, 0.5) 118.08%
  );
  backdrop-filter: blur(8px);
  padding: 1.5rem 1rem;
  border-radius: 15px;
}
.skills-con h4 {
  padding-bottom: 0.1rem;
}
.skill-button {
  padding: 0.8rem 1rem;
  color: white;
  border-radius: 15px;
  margin: 1.4rem 0;
}

.skills-btn {
  display: grid;
  grid-template-columns: 20px 200px;
}

span:first-child {
  width: 10%;
}

.awards-con {
  padding-left: 1rem;
}

.socials-con {
  display: flex;
  justify-content: space-between;
  width: 100% 100em;
}

@media (max-width: 786px) {
  .personalStyled {
    display: flex;
    flex-direction: column;
  }

  .skill-button {
    width: 15rem;
  }
  .awards-con {
    /* display: none; */
    padding-left: 0.2rem;
  }
}
